.DS_Store

.gradle/
build/
out/
target/

.vscode/
/.project
/.classpath
/.settings/
/bin/

.idea
*.iml
*.ipr
*.iws


/_book/


/src/test
!/src/test/java/com/example/demo/.keep
!/src/test/resources/logback-test.xml
/src/acceptanceTest
