.DS_Store

.gradle/
build/
out/

.vscode/

.idea
*.iml
*.ipr
*.iws


/_book/


/src/test/java/**/*.java
/src/test/resources/**/*.sql

/src/acceptanceTest/java/**/*.java
/src/acceptanceTest/resources/**/*.sql
